
p {
  font-family:serif;
  font-size: 0.8em;
  text-decoration-color: brown;
  word-spacing: 0.2em;
}

 body{
   max-width: 90%;
  margin: 0 auto;
  background-color: #D2D7BC;
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  text-align: center;
  }
a:visited {
  background-color: yellow;
  color: blue;
}
a:hover {
  background-color: green;
  color: yellow;
}
  blockquote{
      font-family: Georgia, 'Times New Roman', Times, serif;
      letter-spacing: 0.1em;
      color: rgba(0, 0, 0, 0.795);
      font-size: 1em;
  }
  q{
    display: block;
    width: 50%;
    background-color: #f4f4f4;
    padding-left: 30px;
    margin: 80px auto;
    font-size: 160%;
    font-style:normal;
}

.farmer{
    border-left: 3px solid rgb(170, 50, 220, .6);
}

.villagers{

    border-left: 3px solid red;
}

.good, .bad{
text-transform: capitalize;
}
.good{
    color: green;
}

.bad{
    color:red;
}
header >nav {
  background-color: yellow;
  margin: 5px;
}
table{
width: 60%;
margin: 0;

}
table, th, td {
  border: 1px solid black;
  margin: 0 auto;
}
tr:nth-child(even){
background-color: grey;
}
img {
  margin-top: 20px;
    width: 25vw;
  float: right;
  margin-left: 20px;
    margin-bottom: 50px;
    border-radius: 2em;
    }
  ol {

    margin: 0 auto;
    list-style-position: inside;
  }
  h1 {
  text-decoration: underline;
  
}
